[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
x509_extensions        = v3_ca
req_extensions 	       = req_ext

[ req_distinguished_name ]
C                      = CA
ST                     = ON
L                      = Toronto
O                      = Alice Lab
OU                     = auth ex
CN                     = replace_me
emailAddress           = certs@example.com

[ req_attributes ]
challengePassword      = password

[ v3_ca ]
authorityInfoAccess = @issuer_info

[ req_ext ]
subjectAltName = dirName: req_distinguished_name

[ issuer_info ]
OCSP;URI.0 = http://ocsp.example.com/
caIssuers;URI.0 = http://example.com/ca.cert
