[ ca ]
default_ca      = SMX_default_replace_me

[ SMX_default ]
serial = replace_me-serial
crl = replace_me-crl.pem
database = replace_me-database.txt
name_opt = SMX_default
cert_opt = SMX_default
default_crl_days = 9999
default_md = md5

[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
output_password        = password

[ req_distinguished_name ]
C                      = CA
ST                     = ON
L                      = Toronto
O                      = Alice Lab
OU                     = auth ex
CN                     = replace_me
emailAddress           = certs@example.com

[ req_attributes ]
challengePassword      = test
